@model Pizza

<div class="container">
        <div class="card">
        <img src="@Model.Img" alt="Pizza1">
            <div class="card-body">
            <h5 class="card-title">@Model.Nome</h5>
                <p class="card-text">
                @Model.Descrizione
                </p>
            <h6>@Model.Prezzo&euro;</h6>
            <p>
                <strong>Categoria:</strong>

                @if (Model.Category != null)
                {
                    @Model.Category.Name
                }
                else
                {
                    <span>Non ci sono categorie selezionate!</span>
                }
            </p>
            <p>
                <strong>Ingredienti:</strong>
                @{int i = 1;}
                @foreach (Ingredients ingredient in Model.Ingredients)
                {
                    <div>
                        <label>
                            <strong>@i.</strong>
                            @ingredient.Name
                        </label>
                    </div>
                    i++;
                }
            </p>
            </div>
        </div>
</div>